@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: space-around;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.75rem;
  background-color: white;
  width: 300px;
  height: auto;
  transition: all 450ms ease-out 0s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.card-header {
  position: relative;
  background-clip: border-box;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  height: auto;
}

.card-header > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.75rem;
}

.card-content {
  border: none;
  padding: 1.5rem;
  text-align: center;
}

.card-title {
  color: rgb(38, 50, 56);
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.card-content p:not(.card-title) {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-content p:not(.card-title):hover {
  display: block;
  text-overflow: unset;
  overflow: unset;
}

.card-footer {
  padding: 0.75rem;
  border: 1px solid rgb(236, 239, 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 140, 255, 0.082);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.card-tag {
  font-weight: 300;
  font-size: 0.75rem;
  display: block;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.card-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px -1px rgba(33, 150, 243, 0.4), 0 2px 4px -2px rgba(33, 150, 243, 0.4);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33, 150, 243);
  border-radius: 0.5rem;
  cursor: pointer;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  position: sticky;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-right: 20px;
}

.header ul li > a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  opacity: 0;
  margin-left: -10px;
  margin-right: -10px;
  transition: opacity 450ms ease-in-out 0s;
}

.dropdown-content a {
  color: black;
  padding: 0;
  height: 0;
  text-decoration: none;
  display: block;
  transition: all 450ms ease-in-out 0s;
}

.dropdown-content a > * {
  height: 0;
  transition: height 450ms ease-in-out 0s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
}

.dropdown:hover .dropdown-content a {
  padding: 12px 16px;
  height: 100%;
}

.dropdown:hover .dropdown-content a > * {
  height: 100%;
}

.dropdown:hover .dropbtn {
  color: #777;
}

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.res-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: normal;
  background-color: white;
}

.res-table td, .res-table th {
  text-align: center;
  padding: 8px;
  word-break: break-word;
  max-width: 150px;
}

.res-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.res-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}

.res-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.res-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */
@media (max-width: 767px) {
  .res-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .res-table thead, .res-table tbody, .res-table thead th {
    display: block;
  }
  .res-table thead th:last-child {
    border-bottom: none;
  }
  .res-table thead {
    float: left;
  }
  .res-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .res-table td, .res-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    min-height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .res-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .res-table tbody tr {
    display: table-cell;
  }
  .res-table tbody tr:nth-child(odd) {
    background: none;
  }
  .res-table tr:nth-child(even) {
    background: transparent;
  }
  .res-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }
  .res-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }
  .res-table tbody td {
    display: block;
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: button;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.lesson-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  grid-template-rows: 75vh;
  gap: 20px;
}

.lesson-info {
  grid-column: 1/2;
  margin-bottom: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
}

.lesson-text {
  overflow-y: auto;
}

.lesson-text > h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 20px;
}

.lesson-info > .table-wrapper {
  margin: unset;
}

.videocall {
  grid-column: 2/5;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  .form {
    width: 90%;
  }
  .heading h1 {
    font-size: 2rem;
  }
  .heading p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
